#ExternalTranslate > table { 
    border-collapse:collapse; width:100%;
}
#ExternalTranslate td {
    border: 1px solid #d4d0ce;
    vertical-align:top;
    padding:20px;
}
#ExternalTranslate .copy {
    width:350px !important;
    height:120px !important;
}
#ExternalTranslate > #translateWordBox {
    position:fixed;
    top:0px;
    right:0px;
    width:280px;
    z-index:1;
    background-color:#ccffcc;
    border:1px solid #bbeebb;
}
#ExternalTranslate input{
    border:1px solid #dddddd;
    border-radius:5px;
}
#ExternalTranslate .required:not(:valid){
    background-color:#ffffaa;
}
#ExternalTranslate .intro{
}
#ExternalTranslate #field2 {
    font-family:monospace;
    width:100%;
    background-color:#ffffff;
    border:none !important;
}
#ExternalTranslate td{
    max-width:400px;
}
#ExternalTranslate .input{
    background-color:#eeeeee;
}
#ExternalTranslate .huge{
    font-size:200%;
}
#ExternalTranslate .button{
background-color:#dddddd;
font-style:italic;
padding:3px;
}


#ExternalTranslate button, #ExternalTranslate input[type=button]{
	padding:5px;
	font-size:20px;
}

#ExternalTranslate .et-num{
	font-size:40px;
	background-color:blue;
	color:white;
	height:80px;
	width:80px;
	float:right;
	border-radius:60px;
	padding:5px;
	text-align:center;
}

#ExternalTranslate  hr{
	cleaR:both;
}