/* Source: Wikimedia Commons (see [[commons:MediaWiki:Monobook.css/he]]) */
/* "Light version" of [//commons.wikimedia.org/w/skins/MonoBook/rtl.css rtl.css] - Right-to-left fixes for MonoBook. This version shouldn't change the content direction, only the side bar, tabs and other things around...
*/
body {
        direction: rtl;
/*    unicode-bidi: bidi-override;*/
        unicode-bidi: embed;
}
#column-content {
        margin: 0 -12.2em 0 0;
        float: left;
        direction:ltr;
}
/* Special page is 100% translated, so set the direction in ns--1 to rtl */
.ns--1 #column-content, .ns-6 #column-content{
direction:rtl;
}

html>body .portlet {
        display:table;
}

#column-content #content{
        margin-left: 0;
        margin-right: 12.2em;
        border-right: 1px solid #aaaaaa;
        border-left: none;
}


/* recover IEMac (might be fine with the float, but usually it's close to IE */
*>body .portlet {
        float: none;
        clear: none;
}
.pBody {
        padding-right: 0.8em;
        padding-left: 0.5em;
}

/* Fix alignment */
.documentByLine,
.portletDetails,
.portletMore,
#p-personal {
        text-align: left;
}

#div.townBox,
#p-logo {
        left: auto;
        right: 0;
}
#p-personal {
        left: auto;
        right: 0;
}

#p-cactions {
        left: auto;
        right: 11.5em;
        padding-left: 0;
        padding-right: 1em;
}
#p-cactions li {
        margin-left: 0.3em;
        margin-right: 0;
        float: right;
}
* html #p-cactions li a {
        display: block;
        padding-bottom: 0;
}
* html #p-cactions li a:hover {
        padding-bottom: 0.2em;
}
/* offsets to distinguish the tab groups */
li#ca-talk {
        margin-right: auto;
        margin-left: 1.6em;
}
li#ca-watch,li#ca-unwatch {
        margin-right: 1.6em !important;
}

/* Fix margins for non-css2 browsers */
/* top right bottom left */
.pBody ul {
        margin-left: 0;
        margin-right: 1.5em;
}
.pBody ol {
        margin-left: 0;
        margin-right: 2.4em;
}
.pBody dd {
        margin-left: 0;
        margin-right: 1.6em;
}

#contentSub {
        margin-right: 1em;
        margin-left: 0;
}


div.townBox {
        margin-left: 0;
        margin-right: 1em;
}
div.townBox dl dd {
        margin-left: 0;
        margin-right: 1.1em;
}
#p-personal li {
        margin-left: 0;
        margin-right: 1em;
        float: left;
}

li#ca-talk,
li#ca-watch {
        margin-right: auto;
        margin-left: 1.6em;
}


/* Fix link icons */
#footer {
        clear: both;
}
* html #footer {
        margin-left: 0;
        margin-right: 13.6em;
        border-left: 0;
        border-right: 1px solid #fabd23;
} 
* html #column-content { 
        float: none;
        margin-left: 0;
        margin-right: 0;
}
* html #column-content #content {
        margin-left: 0;
        margin-top: 3em;
}
* html #column-one { right: 0; }



.errorbox, .successbox, .prefsection fieldset {
        float: right;
}

.prefsection {
        padding-right: 2em;
}

#userlogin {
        float: right;
        margin: 0 0 1em 3em;
}

#wpTextbox1, #wikiPreview{
direction:ltr;
}

/* margin for ul/ol/dd - it affects the content, but it's necessary to make lists look fine when dir=rtl */
ul {
        margin-right: 1.5em;
}
ol {
        margin-right: 2.4em;
}
dd {
        margin-right: 1.6em;
}

/* Fix link icons */
.external {
	padding: 0 !important;
	background: none !important;
}
#n-mainpage, #n-portal, #n-sidebar-sandbox, #n-sidebar-sitesupport {
position:relative;
right:10px;
}

/* </source> */