#p-wikibase-otherprojects ul,
ul.interProject { 
	list-style: none;
	padding-left: 0; 
	margin-left: 0;
}

li.interProject,
.portlet .wb-otherproject-link,
/* specifikt för Vector; ovanstående "tar" inte av någon anledning */
#mw-panel div.portal div.body ul li.interProject,
#mw-panel div.portal div.body ul li.wb-otherproject-link { 
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px; 
	margin-left: 0;
}

li.commons,
.wb-otherproject-commons {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png");
}

li.wiktionary,
.wb-otherproject-wiktionary {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Wiktionary_small.svg/16px-Wiktionary_small.svg.png");
}

li.wikibooks,
.wb-otherproject-wikibooks {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo.svg/16px-Wikibooks-logo.svg.png");
}

li.wikiquote,
.wb-otherproject-wikiquote {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/15px-Wikiquote-logo.svg.png");
}

li.wikisource,
.wb-otherproject-wikisource {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/15px-Wikisource-logo.svg.png");
}

li.wikinews,
.wb-otherproject-wikinews {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Wikinews_waves_Left.png/15px-Wikinews_waves_Left.png");
}

li.wikispecies,
.wb-otherproject-species {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikispecies-logo.svg/15px-Wikispecies-logo.svg.png");
}

li.wikivoyage,
.wb-otherproject-wikivoyage {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Wikivoyage-logo.svg/15px-Wikivoyage-logo.svg.png");
}

li.wikiversity,
.wb-otherproject-wikiversity {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Wikiversity-logo.svg/15px-Wikiversity-logo.svg.png");
}

li.wikidata,
.wb-otherproject-wikidata {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/15px-Wikidata-logo.svg.png");
}

li.meta,
.wb-otherproject-meta {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Wikimedia_Community_Logo.svg/15px-Wikimedia_Community_Logo.svg.png");
}

li.incubator,
.wb-otherproject-incubator {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Incubator-logo.svg/15px-Incubator-logo.svg.png");
}

li.mediawiki,
.wb-otherproject-mediawiki {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Mediawiki-logo.png/15px-Mediawiki-logo.png");
}