/**
 * Imagem para interlinks de artigos destacados e bons
 * {{tl|Link FA}}, {{tl|Bom interwiki}} and {{tl|Link FL}}
 * Baseado em [[:en:MediaWiki:Vector.css]], [[:en:MediaWiki:Monobook.css]] e [[:en:MediaWiki:Modern.css]]
 * e na versão original feita pelo [[User:Giro720]]
 */

/* Vector */
.skin-vector #mw-panel div.portal div.body ul li.FA,
.skin-vector #mw-panel div.portal div.body ul li.FL,
.skin-vector #mw-panel div.portal div.body ul li.BOM {
	/* @noflip */
	margin-left: -1.25em;
	/* @noflip */
	padding-left: 1.25em;
}
 
.skin-vector #mw-panel div.portal div.body ul li.FA,
.skin-vector #mw-panel div.portal div.body ul li.FL {
	background: url("//upload.wikimedia.org/wikipedia/commons/d/d4/Monobook-bullet-star.png") no-repeat 0% 0%;
}
.skin-vector #mw-panel div.portal div.body ul li.BOM {
	background: url("//upload.wikimedia.org/wikipedia/commons/a/a1/Monobook-bullet-star-gray.png") no-repeat 0% 0%;
}

/* Monobook, Modern, etc */
li.BOM {
	list-style-image: url("//upload.wikimedia.org/wikipedia/commons/a/a1/Monobook-bullet-star-gray.png");
}
 
li.FA,
li.FL {
	list-style-image: url("//upload.wikimedia.org/wikipedia/commons/d/d4/Monobook-bullet-star.png");
}