#newParticipant_wikiProjects-dialog input {
	display: block;
}

#newParticipant_wikiProjects-fields {
	display: none;
}

#newParticipant_wikiProjects-openDialog {
	cursor: pointer;
}

.newParticipant_wikiProjects-fill-field {
	border: 1px solid red;
}