/* Wikipedia Redefined style CC-BY-SA from Thomas (netAction) Schmidt
based on http://www.wikipediaredefined.com/
For instructions see https://www.netaction.de/wikipedia-redefined/ */



/* ############################################# Header ################## */


div#column-one {
  height:120px;
  width:100%;
  margin:0;
  padding:0;
  -webkit-box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-family:sans-serif;
}

div#column-one .pBody, div#column-one .pBody ul {
 margin:0;
 padding:0;
}
/* make all LI elements that are not positioned float at the top of the page */
div#column-one div.portlet {
  display:inline;
}
div#column-one li {
  list-style-type: none;
  padding:0;
  margin:0;
  float:left;
  margin:14px 0 0 20px;
  font-size:12px;
}


div#column-one li a {
  color:black;
}
div#column-one li a:hover {
  color:black;
  text-decoration:none;
  background-color:#ddd;
}

/* ###### Black line RESEARCH EDIT TALK ##### */
/* All */
div#column-one li#ca-nstab-main, div#column-one li#ca-nstab-mediawiki, div#column-one li#ca-nstab-category, div#column-one li#ca-nstab-user, div#column-one li#ca-nstab-help, div#column-one li#ca-nstab-image, div#column-one li#ca-nstab-template, div#column-one li#ca-nstab-project, div#column-one li#ca-nstab-portal, div#column-one li#ca-nstab-special, div#column-one li#ca-edit, div#column-one li#ca-viewsource, div#column-one li#ca-talk {
  position:absolute;
  padding:0;
  margin:0;
  top:50px;
  text-decoration:none;
  font-size:14px;
}
div#column-one li#ca-nstab-main a, div#column-one li#ca-nstab-mediawiki a, div#column-one li#ca-nstab-category a, div#column-one li#ca-nstab-user a, div#column-one li#ca-nstab-help a, div#column-one li#ca-nstab-image a, div#column-one li#ca-nstab-template a, div#column-one li#ca-nstab-project a, div#column-one li#ca-nstab-portal a, div#column-one li#ca-nstab-special a, div#column-one li#ca-edit a, div#column-one li#ca-viewsource a, div#column-one li#ca-talk a {
  color:white;
  text-decoration:none;
  padding:6px;
  margin:0;
  display:block;
  width:138px;
}
body div#column-one li#ca-nstab-main.selected a, div#column-one li#ca-nstab-mediawiki.selected a, div#column-one li#ca-nstab-category.selected a, div#column-one li#ca-nstab-user.selected a, div#column-one li#ca-nstab-help.selected a, div#column-one li#ca-nstab-image.selected a, div#column-one li#ca-nstab-template.selected a, div#column-one li#ca-nstab-project.selected a, div#column-one li#ca-nstab-special.selected a, div#column-one li#ca-nstab-portal.selected a, body div#column-one li#ca-edit.selected a, div#column-one li#ca-viewsource.selected a, div#column-one li#ca-talk.selected a {
  background-color:white;
  color:black;
}
div#column-one li#ca-nstab-main a:hover, div#column-one li#ca-nstab-mediawiki a:hover, div#column-one li#ca-nstab-category a:hover, div#column-one li#ca-nstab-user a:hover, div#column-one li#ca-nstab-help a:hover, div#column-one li#ca-nstab-image a:hover, div#column-one li#ca-nstab-template a:hover, div#column-one li#ca-nstab-project a:hover, div#column-one li#ca-nstab-special a:hover, div#column-one li#ca-nstab-portal a:hover, div#column-one li#ca-edit a:hover, div#column-one li#ca-viewsource a:hover, div#column-one li#ca-talk a:hover {
  background-color:white;
  color:black;
}


/* Read page link in different namespaces (articles, user, mainpage, special, portal) */
li#ca-nstab-main, li#ca-nstab-mediawiki, li#ca-nstab-category, li#ca-nstab-user, li#ca-nstab-help, li#ca-nstab-image, li#ca-nstab-template, li#ca-nstab-project, li#ca-nstab-special, li#ca-nstab-portal {
  left:0px;
  width:100%;
  background-color:black;
  -webkit-box-shadow:  0px -10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow:  0px -10px 10px 0px rgba(0, 0, 0, 0.2);
}
div#column-one li#ca-nstab-main a, div#column-one li#ca-nstab-mediawiki a, div#column-one li#ca-nstab-category a, div#column-one li#ca-nstab-user a, div#column-one li#ca-nstab-help a, div#column-one li#ca-nstab-image a, div#column-one li#ca-nstab-template a, div#column-one li#ca-nstab-project a, div#column-one li#ca-nstab-special a, div#column-one li#ca-nstab-portal a {
  margin-left:150px;
}

/* Edit link */
li#ca-edit, li#ca-viewsource {
  left:300px;
}

/* Talk link */
li#ca-talk {
  left:450px;
}

/* personal links for the user */
div#p-personal {
  position:absolute;
  top:50px;
  right:18px;
  width:284px;
  margin:0;
  background-color:black;
  height:28px;
  z-index:2; /* above search box */
}
/* .dropDown is a class given by WikipediaRedefined.js */
div#p-personal.dropDown {
}
div#p-personal.dropDown select {
  font-family:inherit;
  outline-width:0;
  border-width:0;
  background-color:black;
  height:28px;
  width:100%;
  font-size:14px;
  color:white;
  cursor:pointer;
  padding:5px 0;
  margin:0;
}

div#p-personal.dropDown select:hover {
  background-color:white;
  color:black;
  outline-width:0;
  border-width:0;
}
div#p-personal.dropDown select option {
  padding:0;
  margin:0;
  color:black;
  background-color:white;
}
div#p-personal.dropDown select option[disabled="disabled"] {
  color:#888;
}

div#p-personal:hover {
  height:auto;
  border-width:0 0 1px 1px;
  border-style:solid;
  border-color:#aaa;
  color:black;
}
body div#column-one div#p-personal li {
  margin:0;
  padding:0;
}
body div#column-one div#p-personal li a {
  display:block;
  width:287px;
  padding:6px 3px 6px 3px;
  color:white;
  text-decoration:none;
}
body div#column-one div#p-personal:hover li a {
  background-color:#ccc;
  color:black;
}
body div#column-one div#p-personal li a:hover {
  background-color:white;
}

/* #### switch language or sister projects #### */
/* https://de.wikipedia.org/wiki/Wikipedia:AAF https://de.wikipedia.org/wiki/Wikipedia:FZW */

div#p-lang.portlet, div#p-sisterprojects.portlet {
  position:absolute;
  top:14px;
  height:20px;
  overflow:hidden;
  padding:0 8px;
  z-index:3; /* above user stuff */
  font-size:12px;
}

div#p-lang.portlet.dropDown, div#p-sisterprojects.portlet.dropDown {
  height:auto;
}

div#p-lang.portlet {
  width:284px;
  right:10px;
}
div#p-sisterprojects.portlet {
  right:310px;
  width:184px;
}
/* .dropDown is a class given by WikipediaRedefined.js */
div#p-lang.portlet.dropDown select, div#p-sisterprojects.portlet.dropDown select {
  font-family:inherit;
  outline-width:0;
  border-width:0;
  width:100%;
  font-size:12px;
  background-color:transparent;
  cursor:pointer;
  color:black;
}

div#p-lang.portlet:hover, div#p-sisterprojects.portlet:hover {
  height:150px;
  overflow-y:scroll;
  background-color:#ccc;
  border-width:0 0 1px 1px;
  border-style:solid;
  border-color:#ccc;
}

div#p-lang.portlet.dropDown:hover, div#p-sisterprojects.portlet.dropDown:hover {
  height:auto;
  overflow-y:hidden;
  border-width:0;
  background-color:transparent;
}
div#p-lang.portlet.dropDown select:hover, div#p-sisterprojects.portlet.dropDown select:hover {
  background-color:#ccc;
}

div#p-lang.portlet h5, div#p-sisterprojects.portlet h5 {
  font-size:14px;
  margin:0;
  padding:0;
}
div#p-lang.portlet ul, div#p-sisterprojects.portlet ul {
  margin: 10px 0 0 0;
  padding:0;
}
div#p-lang.portlet li, div#p-sisterprojects.portlet li {
  margin:0 0 0 10px; /* space for stars */
  padding:0;
}
div#p-lang.portlet a, div#p-sisterprojects.portlet a {
  color:black;
  display:block;
}
div#p-lang.portlet a {
  width:264px;
}
div#p-sisterprojects.portlet a {
  width:164px;
}


div#p-lang.portlet a:hover, div#p-sisterprojects.portlet a:hover {
  background-color:#bbb;
}



/* #### icon boxes #### */
/* all boxes */
div#column-one li#ca-history, div#column-one li#ca-watch, div#column-one li#ca-unwatch, div#column-one li#t-print, body.action-edit div#column-one li#ca-move {
  display:block;
  position:absolute;
  top:88px;
  font-size:10px;
  height:15px;
  width:15px;
  margin:0;
  padding:0;
  white-space:nowrap;
}

li#ca-history:hover, li#ca-watch:hover, li#ca-unwatch:hover, li#t-print:hover, body.action-edit li#ca-move:hover {
  background-color:#ddd;
}

li#ca-history a, li#ca-watch a, li#ca-unwatch a, li#t-print a, body.action-edit li#ca-move a {
  color:black;
  position:relative;
  top:4px;
  left:0;
  padding:0 0 0 20px;
  margin:0;
  font-size:10px;
}


div#column-one li#ca-history a:hover, div#column-one li#ca-watch a:hover, div#column-one li#ca-unwatch a:hover, div#column-one li#t-print a:hover, body.action-edit div#column-one li#ca-move a:hover {
  background-color:transparent;
}

/* view history */
li#ca-history {
  left:152px;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/High-contrast-document-open-recent.svg/15px-High-contrast-document-open-recent.svg.png);
}


/* watch this page */
li#ca-watch, li#ca-unwatch {
  left:282px;
}
li#ca-watch {
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/4/4e/High-contrast-help-about.svg/15px-High-contrast-help-about.svg.png);
}
li#ca-unwatch {
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/High-contrast-help-about-yellow.svg/15px-High-contrast-help-about-yellow.svg.png);
}

/* Show the move link only when editing the page. In other cases show print preview. */
li#ca-move {
  display:none;
}
/* print preview or move file */
li#t-print, body.action-edit li#ca-move {
  left:412px;
}
li#t-print {
  left:412px;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/High-contrast-printer.svg/15px-High-contrast-printer.svg.png);
}
body.action-edit li#ca-move {
  left:412px;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/High-contrast-mail-forward.svg/15px-High-contrast-mail-forward.svg.png);
}


/* #### search #### */
div#p-search {
  position:absolute;
  top:85px;
  right:10px;
  width:290px;
  height:30px;
}
div#p-search input#searchInput {
  height:16px;
  width:275px;
}
div#p-search input#searchGoButton {
  display:none;
}
div#p-search input#mw-searchButton {
  position:absolute;
  right:17px;
  top:4px;
  margin:0;
  padding:15px 0 0 0;
  width:15px;
  height:0;
  outline-width:0;
  border-width:0;
  background-color:white;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/e/eb/High-contrast-system-search.svg/15px-High-contrast-system-search.svg.png);
}



/* #### Main page link (#n-mainpage is the id in Commons) */
div#column-one li#n-mainpage-description, div#column-one li#n-mainpage {
  position:absolute;
  display:block;
  top:40px;
  left:0;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/60px-Wikipedia-logo-v2.svg.png);
  width:60px;
  height:55px;
  padding:0 0 0 0;
  overflow:hidden;
}


div#column-one li#n-mainpage-description a, div#column-one li#n-mainpage a {
  position:relative;
  top:67px;
  padding:67px 0 0 0;
  font-size:200px;
  background-color:transparent;
}


div#column-one li#n-mainpage-description a, div#column-one li#n-mainpage a:hover {
  background-color:transparent;
}

/* #### disabled things #### */
div#p-personal h5, div#p-cactions h5, div#p-search h5, div#p-navigation h5, div#p-Mitmachen h5, div#p-coll-print_export h5, div#p-tb h5, div#p-interaction h5, div#p-participate h5 {
  display:none;
}

/* read */
li#ca-view { display:none; }
/* ungesichtete */
li#ca-current  { display:none; }
/* Themenportale, portals */
li#n-topics { display:none; }
/* alphabetical index, von A bis Z */
li#n-alphindex { display:none; }
/* improve page */
li#n-Artikel-verbessern { display:none; }
/* new page */
li#n-Neuerartikel { display:none; }
/* create a book */
li#coll-create_a_book { display:none; }
/* download as PDF file */
li#coll-download-as-rl { display:none; }
/* changes at linked pages */
li#t-recentchangeslinked { display:none; }
/* upload a file (not a link to commons!) */
li#t-upload { display:none; }
/* special pages */
li#t-specialpages { display:none; }
/* links to this page */
li#t-whatlinkshere { display:none; }
/* URL with revid. something similar is #t-cite */
li#t-permalink  { display:none; }
/* add new section */
/* li#ca-addsection  { display:none; } */
/* Explore Wikipedia"s content */
li#n-contents { display:none; }
/* about Wikipedia */
li#n-aboutsite { display:none; }
/* rate this page */
li#t-articlefeedback { display:none; }


/* ############################################# InfoBox ################### */

#WikipediaRedefinedMessage {
  border: 1px solid #aaa;
  padding: 5px;
  line-height: 1.5em;
  margin: .5em 1em 0em 0em;
  text-align: center;
  clear: both;
  background-color:#93B5C0;
  color:white;
  font-size:120%;
}

/* ############################################# Footer ################### */

#footer {
  background-color:black;
  color:white;
  padding:10px;
  clear:left;
  min-height:50px;
  font-size:80%;
}
#footer a {
  color:#aaa;
}
#footer ul {
  list-style-type:none;
  margin:0;
  padding:10px;
}
#footer #copyright {
  margin-bottom:10px;
}
#footer #privacy, #footer #about, #footer #disclaimer, #footer li.noprint {
  float:left;
  margin-right:20px;
}
#footer #mobileview {
}

#footer div#f-copyrightico, #footer div#f-poweredbyico {
  margin:10px;
  float:left;
}

/* Date of last modification */
#footer li#lastmod { display:none; }


/* ############################ Content ######### */

div#column-content {
  float:none;
  margin:120px 0 0 0;
}

div#column-content #content {
  border-width:0;
  margin:0 0 0 0;
}

div#column-content a.new{
  text-decoration:none;
}
div#column-content a.new:hover{
  text-decoration:underline;
}

/* geographic stuff or something */
/* Koordinaten in Artikeln oben rechts */
#coordinates,
#editcount,
#issnlink,
#shortcut {
  display: block;
  font-size: 10px;
  line-height: 11px;
  position: absolute;
  right: 20px;
  text-align: right;
  text-indent: 0;
  top: 142px;
  white-space: nowrap;
  padding:0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  overflow:hidden;
}

div.thumbinner, table {
  -webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  background-color:white;
}
div.thumbinner, table.wikitable, table.taxobox {
  font-size:80%;
}

table#toc ul{
  list-style-type:none;
}

div.tright {
  margin: 10px 0 10px 15px;
}
div.tleft {
  margin: 10px 15px 10px 0;
}

/* From Wikipedia, the free encyclopedia */
div#siteSub { display:none; }

textarea {
  font-family: monospace;
}



/* ##################################### Special touch things ########################## */


body.wprtouch div#column-one {
  height:200px;
}
body.wprtouch div#column-one li {
  font-size:14px;
}


body.wprtouch div#p-lang.portlet, body.wprtouch div#p-sisterprojects.portlet {
  font-size:14px;
}
body.wprtouch div#p-lang.portlet.dropDown select, body.wprtouch div#p-sisterprojects.portlet.dropDown select {
  font-size:14px;
}
body.wprtouch div#p-lang.portlet h5, body.wprtouch div#p-sisterprojects.portlet h5 {
  font-size:14px;
}

body.wprtouch div#column-one li#ca-history, body.wprtouch div#column-one li#ca-watch, body.wprtouch div#column-one li#ca-unwatch, body.wprtouch div#column-one li#t-print, body.action-edit.wprtouch div#column-one li#ca-move {
  top:100px;
  height:40px;
  width:40px;
  white-space:normal;
}


body.wprtouch li#ca-history a, body.wprtouch li#ca-watch a, body.wprtouch li#ca-unwatch a, body.wprtouch li#t-print a, body.wprtouch body.action-edit li#ca-move a {
  top:43px;
  left:0;
  padding:43px 0 0 0;
}
body.wprtouch li#ca-history {
  left:210px;
  /* http://commons.wikimedia.org/wiki/GNOME_High_contrast_icons
     http://commons.wikimedia.org/wiki/Tango_icons */
  /* background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/2/26/Clock_simple.svg/40px-Clock_simple.svg.png); */
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/High-contrast-document-open-recent.svg/40px-High-contrast-document-open-recent.svg.png);
}


body.wprtouch li#ca-watch, body.wprtouch li#ca-unwatch {
  left:310px;
}
body.wprtouch li#ca-watch {
  /* background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Emblem-star-gray.svg/40px-Emblem-star-gray.svg.png); */
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/4/4e/High-contrast-help-about.svg/40px-High-contrast-help-about.svg.png);
}
body.wprtouch li#ca-unwatch {
  /* background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Emblem-star.svg/40px-Emblem-star.svg.png); */
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/High-contrast-help-about-yellow.svg/40px-High-contrast-help-about-yellow.svg.png);
}


body.wprtouch li#t-print, body.action-edit.wprtouch li#ca-move {
  left:410px;
}
body.wprtouch li#t-print {
  /* background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Document-print.svg/40px-Document-print.svg.png); */
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/High-contrast-printer.svg/40px-High-contrast-printer.svg.png);
}
body.action-edit.wprtouch  li#ca-move {
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/High-contrast-mail-forward.svg/40px-High-contrast-mail-forward.svg.png);
}


body.wprtouch div#p-search {
  top:105px;
  width:300px;
  height:50px;
}
body.wprtouch div#p-search input#searchInput {
  height:20px;
  width:270px;
  height:30px;
}
body.wprtouch div#p-search input#mw-searchButton {
  right:20px;
  padding:28px 0 0 0;
  width:28px;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/e/eb/High-contrast-system-search.svg/28px-High-contrast-system-search.svg.png);
}

body.wprtouch div#column-one li#n-mainpage-description, body.wprtouch div#column-one li#n-mainpage {
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/120px-Wikipedia-logo-v2.svg.png);
  top:57px;
  width:120px;
  height:110px;
}

body.wprtouch div#column-one li#n-mainpage-description a, body.wprtouch div#column-one li#n-mainpage a {
  top:110px;
  padding:110px 0 0 0;
}

body.wprtouch div#column-content {
  margin:200px 0 0 0;
}


body.wprtouch #coordinates {
  top:215px;
}