/* Подсветка затронутых элементов */
input[type="text"].highlighted,
input[type="checkbox"].highlighted + span,
select.highlighted + div .oo-ui-dropdownWidget-handle {
	background-color: #fc3 !important;
	border-color: #fc3 !important;
}