#p-search
{
  overflow:visible;
}
 
#searchform
{
  overflow:visible!important;
}
 
 
#autocompletebox
{
  display:block;
  position:absolute;
  border:solid 1px black;
  background:white;
  left:0.8em;
  overflow:auto;
  visibility:hidden;
  min-width:10em;
}
 
#autocompletebox option
{
  font-size:90%
}