.summaryButtons-summaryGroup {
	font-size:85%;
	margin:-1em 0 0 1px;
}

.summaryButtons-summaryGroup > .summaryButtons-button {
	padding:3px 6px 2px;
	margin:0 0 .1em -1px;
	border-left:1px solid #a2a9b1;
	min-width:inherit;
}

.summaryButtons-button-custom {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}

.summaryButtons-button-custom ~ .summaryButtons-button-custom {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

.summaryButtons-summaryInfo {
	float:left;
	margin-bottom:1em;
}

.summaryButtons::after {
	content:' ';
	display:table;
	clear:both;
}

.summaryInfo-button {
	padding:0;
	margin-left:.2em;
	font-size:.85em;
	min-width:inherit;
}