a.nick_steward, a.nick_steward:visited { font-weight:bold; color: darkorange; }
a.nick_bot, a.nick_bot:visited { font-weight:bold; }
a.nick_admin, a.nick_admin:visited { font-weight: bold; color: darkgreen; }
a.nick_friend, a.nick_friend:visited { color: green; }
a.nick_ip, a.nick_ip:visited { color: darkred; }
a.nick_dynamic_ip, a.nick_dynamic_ip:visited { color: #660066; }