/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 *
 */
 
div#editpage-specialchars {
	display: block;
	margin-top: .5em;
	border: 1px solid #c0c0c0;
	padding: .3em;
}