/**
 * Display pages on your watchlist that have changed since your last visit in '''bold'''.
 */

#mw-wlheader-green {
    display: none;
}
#mw-wlheader-showupdated,
#mw-wlheader-bold {
    display: inline;
}
#mw-watchlist-resetbutton {
    display: block;
}
.mw-special-Watchlist .mw-changeslist-line-watched .mw-title {
    font-weight: bold;
}