/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 */

#watchlist-message .geonotice {
	width: 98%;
	background: transparent;
	text-align: left;
	line-height: 1.8em;
}
#watchlist-message .geonotice span {
	font-size: 144.5%;
}
#watchlist-message .geonotice small {
	font-style: italic;
	margin-left: .5em;
}
#watchlist-message .geonotice small a::before {
	content: "[";
}
#watchlist-message .geonotice small a::after {
	content: "]";
}