.pgn-sourcegame { display: none }
 
img.pgn-chessPiece { position: absolute; z-index: 3; }
div.pgn-board-div { position: relative; margin: 1em; border: 8px ridge grey; border-radius: 10px; }
div.pgn-slider { width: 180px; margin: auto; }
table.pgn-table { direction: ltr; width: 360px; }
td.pgn-selector { height: 2em; text-align: center; vertical-align: middle; }
td.pgn-controls { height: 2em; text-align: right; vertical-align: top; }
td.pgn-legend { text-align: center; vertical-align: middle; }
div.pgn-pgn-display, div.pgn-gameset-div { direction: ltr; }
div.pgn-descriptions { width: 16em; overflow: auto; }
span.pgn-movelink { margin: 0 0.3em; cursor: alias; }
span.pgn-steplink { margin: 0 0.3em; color: green; font-weight: bold; }
span.pgn-comment { margin: 0 0.3em; color: blue; background-color: lightblue; font-weight: bold; }
p.pgn-rtl-comment { direction: rtl; text-align: right; }
span.pgn-current-move { background-color: #00c; color: yellow; cursor: auto; }
span.pgn-row-legend, span.pgn-file-legend { position: absolute; }
div.pgn-pgndiv { direction: ltr; text-align: left; overflow-y: auto; overflow-x: hidden; position: relative; }