.ui-slider {
	height: 5px;
	margin: 50px;
}

.ui-slider .ui-slider-handle {
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid blue;
	background: white;
}

.ui-slider-tick-mark {
	display: 	inline-block;
	border: 	1px solid black;
	height:		9px;
	position:	absolute;
	top:		-3px;
	opacity: 	0.25;
	z-index:	100;
}

.ui-slider-tick-mark:hover {
	background: pink;
	background-color: pink;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

.ui-widget-content.range-slider {
	border: none;
	background: none;
}