a.popupMoreLink {
  display: block;
  text-align: right;
  cursor: pointer;
}

ins.popupDiff {
  background: #afe;
}

del.popupDiff {
  background: #ffe6e6;
}

#selectionPreview {
  /*
  overflow: auto;
  max-height: 16ex;
  */
  border: 2px solid #ddd;
  background-color: #eef;
  padding: 6px;
}

.navpopup {
  border: 1px solid #ffbe20;
  background-color: #fffaef;
  padding: 5px;
  font-size: 11px;
  /* opacity: 0.9; */
}

/* Configure Drag bar color */
.popupDrag {
  background-color: #ffbe20;
  height: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.popupDragHandle {
  cursor: move;
  position: relative;
}

/* menu magic - many thanks to [[User:Zocky]]! */

/* popups */
.popup_menu li {
  margin: 3px;
}

.popup_menu {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  margin-top: 1em;
  line-height: 1.25em;
  list-style-type: none;
  /* top: 1.6ex; */
  z-index: 2;
  width: 10em;
  background: white;
  border: 1px solid grey;
  padding: 0.5em !important;
  margin-left: -6px;
  margin-top: 1em;
  border-width: 1px 1px 1px 6px;
}

.popup_menu a {
  display: block;
}

.popup_menu_row a {
  display: inline;
}

.popup_menu_row {
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

.popup_drop {
  display: inline;
  position: relative;
}

.popup_drop:hover .popup_menu,
.popup_drop .popup_menu:hover {
  display: inline;
  background: white;
  padding: 2px;
}

.popup_drop:hover {
  background: #ccf;
  color: #44f;
}

/* other colours, styles and so on */
.popup_menu a:hover {
  background: #ccf;
  color: #44f;
}

.popup_mainlink {
  font-size: 140%;
  font-weight: bold;
}

a.popup_change_title_link {
  color: #152;
}

.popup_diff_dates {
  font-style: italic;
  background: none;
}

.popup_menu_item {
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}

.popup_menu_item a {
  display: block;
}

.popup_history_row_even {
  background: #eee;
}

.popup_history_date {
  font-weight: bold;
  font-size: 120%;
}

/* disable interwiki styling */
.popupPreview a.extiw,
.popupPreview a.extiw:active {
  color: #36b;
  background: none;
  padding: 0;
}

.popupPreview a.external {
  color: #36b;
}

/* this can be used in the content area to switch off
special external link styling */
.popupPreview .plainlinks a {
  background: none !important;
  padding: 0 !important;
}

/* Navigation Popups */
a.popupMoreLink {
  display: block;
  text-align: right;
  cursor: pointer;
}

ins.popupDiff {
  background: #afe;
}

del.popupDiff {
  background: #ffe6e6;
}

#selectionPreview {
  /*
  overflow: auto;
  max-height: 16ex;
  */
  border: 2px solid #ddd;
  background-color: #eef;
  padding: 6px;
}

.navpopup {
  border: 1px solid #bbb;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;

  -moz-box-shadow: 3px 3px 0px 0px rgba( 0, 0, 0, 0.30 );	
  box-shadow: 3px 3px 0px 0px rgba( 0, 0, 0, 0.30 );
  /* opacity: 0.9; */
}

.navpopup hr {
  color: #aaa !important;
  background-color: #aaa !important;
}

/* Configure Drag bar color */
.popupDrag {
  background-color: #ffbe20;
  height: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.popupDragHandle {
  cursor: move;
  position: relative;
}

/* menu magic - many thanks to [[User:Zocky]]! */

/* popups */
.popup_menu li {
  margin: 0px;
}

.popup_menu {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  margin-top: 1em;
  line-height: 1.25em;
  list-style-type: none;
  top: 0.1em;
  z-index: 2;
  width: 10em;
  background: white;
  border: 1px solid grey;
  padding: 0 !important;
  margin-left: -6px;
  border-width: 1px 1px 1px 6px;
}

.popup_menu a {
  display: block;
  padding: 3px;
  color: #555;
}

.popup_menu_row a {
  display: inline-block;
}

.popup_menu_row {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #aaa;
}

.popup_drop {
  display: inline;
  position: relative;
}

.popup_drop a,
.popup_drop a:visited {
  padding: 3px;
  margin: 0;
  font-weight: bold;
  color: #0645ad;
}

.popup_drop:hover .popup_menu,
.popup_drop .popup_menu:hover {
  display: inline;
  background: white;
  color: #555;
}

.popup_drop:hover > a {
  
}

/* other colours, styles and so on */
.popup_menu a:hover {
  background: grey;
  color: #fff;
  text-decoration: none;
}

.popup_mainlink {
  font-weight: bold;
}

.popup_mainlink a{
	color: #000;
}

a.popup_change_title_link {
  color: #152;
}

.popup_diff_dates {
  font-style: italic;
  background: none;
}

.popup_menu_item {
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}

.popup_menu_item a {
  display: block;
}

.popup_history_row_even {
  background: #eee;
}

.popup_history_date {
  font-weight: bold;
}

/* disable interwiki styling */
.popupPreview a.extiw,
.popupPreview a.extiw:active {
  color: #36b;
  background: none;
  padding: 0;
}

.popupPreview a.external {
  color: #36b;
}

/* this can be used in the content area to switch off
special external link styling */
.popupPreview .plainlinks a {
  background: none !important;
  padding: 0 !important;
}