/**
 * Vector tabs
 */

.mediawiki #mw-page-base {
    background-image: none;
    background-color: #f6f6f6;
    background-image: -moz-linear-gradient(top, #fff 50%, #f6f6f6 100%);
    background-image: -webkit-linear-gradient(top, #fff 50%, #f6f6f6 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f6f6f6, GradientType=0 );
}
.mediawiki div#content {
    /* Reset -1px margin */
    margin-top: inherit;
}
.mediawiki div.vectorMenu ul {
    /* Reset top border for drop-down menu */
    border-top: 1px solid #a7d7f9;
}
.mediawiki div.vectorTabs,
.mediawiki div.vectorTabs ul,
.mediawiki div.vectorTabs span,
.mediawiki div.vectorMenu h3 a {
    /* Tab break - This will be messed up by .verticalGradient in mixins */
/*  background-image: none;  */
    background-color: transparent;
    background-image: -moz-linear-gradient(bottom, #a7d7f9 0%, rgba(167, 215, 249, 0) 100%);
    background-image: -webkit-linear-gradient(bottom, #a7d7f9 0%, rgba(167, 215, 249, 0) 100%);
    background-image: linear-gradient(to top, #a7d7f9 0%, rgba(167, 215, 249, 0) 100%);
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#a7d7f9, GradientType=0 );  */
    background-size: 1px 100%;
}
.mediawiki div.vectorTabs ul li {
    /* Tab background */
    background-image: none;
    background-color: #e8f2f8;
    background-image: -moz-linear-gradient(top, #fff 0%, #e8f2f8 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, #e8f2f8 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8f2f8, GradientType=0 );
}
.mediawiki div.vectorTabs ul li.selected {
    background-image: none;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff, GradientType=0 );
    /* Fix bottom border for active tab */
    border-bottom: 1px solid #fff;
}