/*********************************************************************
**                ***WARNING: GLOBAL GADGET FILE***                 **
**         any changes to this file will affect many users          **
**          please discuss changes on the talk page or at           **
**             [[Wikipedia talk:Gadget]] before editing             **
**     (consider dropping the script author a note as well...)      **
**                                                                  **
**********************************************************************
**             Script:        Drop-down menus (CSS)                 **
**            Version:        4.50g                                 **
**             Author:        Haza-w                                **
**      Documentation:        [[User:Haza-w/Drop-down menus]]       **
**                                                                  **
*********************************************************************/
 
.ca-menu {
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    color: #638C9C;
    font: 14px/22px Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 0em .8em .3em .5em;
    position: absolute;
    width: 100px;
    z-index: 1000;
}
.ca-menu ul {
    line-height: 1.5em;
    list-style-image: none;
    list-style-type: square;
}
.ca-menu ul li {
    margin: 0em;
    padding: 0em;
}
.ca-menu ul li a {
    color: #002BB8;
    text-decoration: none;
}
.ca-menu ul li a:hover {
    text-decoration: underline;
}
.ca-menu ul li.ca-disabled {
    color: #777777;
    cursor: default;
}