.ajaxDeleteFeedback {
 border: 1px #A9DE16 solid !important;
 background: #EAF2CB url(/w/skins/common/images/ajax-loader.gif) no-repeat 8px 14px !important;
 padding-left: 2.85em !important;
 padding-top: 10px !important;
 font-size: 1.1em !important;
}

.ajaxDeleteError {
 border: 1px #DE1616 solid!important;
 background: #F2CBCB!important;
 padding-left: 0em;
}

.ajaxDeleteDeclineMove {
 float:right;
 background: #F2CBCB;
 padding: 0.3em;
}

.ajaxDeleteLazyLoad {
 min-height:100px; 
 max-height:450px; 
 border:#ddd solid 1px; 
 overflow: auto;
}

#AjaxDupeContainer {
 position:relative;
}

#AjaxDupeContainer > div {
 margin: 5px;
 display: inline-block;
 vertical-align: top;
 width: 365px;
}

#AjaxDeleteContainer textarea {
 margin: 5px;
 display: inline-block;
 width: 365px;
 font-size: 0.9em;
}

#AjaxDeleteImgDel {
 color:red;
 font-weight:bold;
}

#AjaxDeleteImgKeep {
 color:green;
}

/* parser result */
#AjaxQuestionParse, #AjaxQuestionParse0, div[id^="AjaxQuestionParse"] {
 min-height: 50px; 
 max-height: 300px; 
 overflow: auto; 
 color: #000; 
 background: #DDD; 
 border: 1px solid #EEE;
}

/* questions */
#AjaxQuestion0, #AjaxQuestion1, div[id^="AjaxQuestion"] {
 direction: ltr;
}

/* red links */
#AjaxQuestionParse a.new, #AjaxQuestionParse0 a.new, div[id^="AjaxQuestionParse"] a.new { 
 color: #BA0000 !important;
}

.ajaxTextareaConverter { 
 position:absolute;
 right:0px;
 top:1px;
 cursor:pointer;
}