.client-js .skin-vector.ns-2 #p-search {
    padding-left: 3.5em;
}
.client-js .skin-vector:not(.ns-special) #p-cactions::after,
.client-js > .skin-vector.mw-special-Contributions #p-cactions::after,
.client-js > .skin-vector.mw-special-DeletedContributions #p-cactions::after {
	content: '';
	display: inline-block;
    width: 3.68em;
}