/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 *
 */

div#editpage-specialchars {
	display: block;
	border: 1px solid #c0c0c0;
	padding: .5em;
}
div#editpage-specialchars a {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 1px 4px;
}
textarea.mw-ui-input + div#editpage-specialchars,
div.wikiEditor-ui-clear + div#editpage-specialchars {
	border-top: none;
}