.summaryButtons-summaryGroup {
	font-size:85%;
	margin:-1em 0 0 1px;
}

.summaryButtons-summaryGroup > .summaryButtons-button {
	padding:3px 6px 2px;
	margin:0 0 .1em -1px;
	border-left:1px solid #a2a9b1;
	min-width:inherit;
}

.summaryButtons-summaryInfo {
	float:left;
	margin-bottom:1em;
}

.summaryInfo-button {
	padding:0;
	margin-left:.2em;
	vertical-align:top;
	font-size:.85em;
	min-width:inherit;
}