/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 *
 * Teahouse "Ask a question" feature, used by the Wikimedia Foundation's Teahouse project, see [[Wikipedia:Teahouse/Questions]]
 */

.wp-teahouse-question-form {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background-color: #f4f3f0;
	border: 1px solid #a7d7f9;
	padding: 1em;
}

#wp-th-question-ask {
	float: right;
}

.wp-teahouse-ask a.external {
	background-image: none !important;
}
.wp-teahouse-respond-form {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background-color: #f4f3f0;
	border: 1px solid #a7d7f9;
	padding: 1em;
}
 
.wp-th-respond {
	float: right;
}
 
.wp-teahouse-respond a.external {
	background-image: none !important;
}