/* Kiểu dáng cho các div đóng mở được dùng trong các bản mẫu. */
div.collapsibletemplate .headertext {
   padding-left: 18px;
   background: url(/static/current/skins/Vector/images/arrow-down-icon.png) left 50% no-repeat;
}
div.collapsibletemplate.collapsed .headertext {
   background: url(/static/current/skins/Vector/images/arrow-collapsed-ltr.png) left 50% no-repeat;
}
div.collapsibletemplate .header {
   padding: 3px;   
   cursor: pointer;
}
 
/* :first-child is not supported in old browser but collapsibleTH and collapsibleCollapsedTH
   solely is here to find and assign these rules with MediaWiki:CollapsibleTemplates.js */
table.collapsible > tbody > tr:first-child th, .collapsibleTH {
   padding-right: 18px;
   background: url(/static/current/skins/Vector/images/arrow-down-icon.png) 99% 50% no-repeat;
}
table.collapsible.collapsed > tbody > tr:first-child th, .collapsibleCollapsedTH {
   background: url(/static/current/skins/Vector/images/arrow-collapsed-ltr.png) 99% 50% no-repeat;
   cursor: pointer;
}
 
.hidden {
   display: none;
}