
#p-teahouse > a{
	font-weight: bold;
	color: #F0F0F0;
	background-color: #27AA65; /* https://www.mediawiki.org/wiki/Wikimedia_Foundation_Design/Color_usage */
	padding: 0 0.5em;
	text-decoration: none;
}

.teahouse-question-dialog-body .oo-ui-labelElement-label {
	font-weight: bold;
}

.teahouse-question-dialog-body .teahouse-inputWidget {
	width: 100%;
}

.teahouse-question-dialog-body .teahouse-tiDesc > textarea {
	height: 8em;
}

.teahouse-question-dialog-body .teahouse-footer-table td {
	vertical-align: top;
	border-collapse: collapse;
}

.teahouse-question-dialog-body .teahouse-footer-table td.teahouse-text-cell {
	padding-top: 0.3em;
	line-height: 1.5em; /* like <p> */
}

.teahouse-question-dialog-body .teahouse-similar-questions-list,
.teahouse-notif-popup-content .teahouse-notif-popup-list {
	list-style: none;
	margin: 0;
}

#p-teahouse-notif {
	position: relative;
}

#p-personal .teahouse-notif-popup-content .teahouse-notif-popup-list li {
	float: none;
	font-size: 100%;
}

#p-personal .teahouse-notif-popup-content .teahouse-notif-popup-list {
	padding: 0.5em;
}

/* Borrowed from Echo extension */
a.teahouse-notifications-badge {
	min-width: 7px;
	border-radius: 2px;
	padding: 0.25em 0.45em 0.2em 0.45em;
	margin-left: -4px;
	text-align: center;
	/*background-color: #d2d2d2;*/
	font-weight: bold;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

a.teahouse-unread-notifications {
	background-color: #27AA65;
}

.teahouse-error-details {
	/* display: none; */
}

.teahouse-error-details table {
	border-collapse: collapse;
}

.teahouse-error-details td,
.teahouse-error-details th {
	border: 1px solid #CCC;
	padding: 0.5em;
}

span.teahouse-ask {
	display: inline-block;
	background-color: #27AA65;
	padding: 0.5em;
	color:#F0F0F0;
	cursor:pointer
}