#hlist-test-table{
    display: table !important;
}

/* @source: https://en.wikipedia.org/wiki/MediaWiki:Common.css?oldid=506449282 */
.navbox .hlist td dl,
.navbox .hlist td ol,
.navbox .hlist td ul,
.navbox td.hlist dl,
.navbox td.hlist ol,
.navbox td.hlist ul {
    padding: 0.125em 0;       /* Adjust hlist padding in navboxes */
}