/**
 * morebits.css
 * ===========
 * Styles to support morebits.js.
 *
 * The morebits library is maintained by the maintainers of Twinkle.
 * For queries, suggestions, help, etc., head to [[WT:TW]].
 * The latest development source is available at [https://github.com/azatoth/twinkle/blob/master/morebits.css].
 */

/* Morebits.status */

.tw_status_status {
	color: #4682B4;
}

.tw_status_info {
	color: #228B22;
}

.tw_status_warn {
	color: #FF4500;
}

.tw_status_error {
	color: #FF4500;
	font-weight: bold;
}

/* Morebits.quickForm */

form.quickform
{
	width: 96%;
	vertical-align: middle;
	margin: auto;
	padding: .5em;
}

form.quickform *
{
	font-family: sans-serif;
}

form.quickform fieldset
{
	margin: .4em 0 1em;
}

form.quickform legend
{
	color: #31628F;
	font-weight: bold;
}

form.quickform input[type=text], form.quickform select
{
	min-width: 15em;
	font-size: 110%;
}

form.quickform select
{
	border: 1px solid gray;
	margin-left: .2em;
}

form.quickform input[type=checkbox],
form.quickform input[type=radio] {
	height: 13px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 0;
	width: 13px;
	vertical-align: top;
}

form.quickform div {
	line-height: 18px;
}

form.quickform h5
{
	margin: .5em 0 0;
	padding: .3em .2em .2em;
}

/* only give the top border to headers with something above them */
form.quickform div + h5, form.quickform div + div > h5, form.quickform h5 + h5
{
	border-top: 1px solid #88A;
}

form.quickform textarea
{
	width: 100%;
	height: 4em;
	font-size: 150%;
}

form.quickform input:disabled + label
{
	color: gray;
}

form.quickform span.quickformDescription
{
	font-style: italic;
}

form.quickform .quickformSubgroup
{
	margin-bottom: .5em;
	margin-left: 3em;
}

form.quickform .tooltipButtonContainer
{
	position: relative;
	width: 100%;
}

form.quickform .tooltipButton
{
	color: blue;
	font-weight: bold;
	cursor: help;
	padding: .2em;
}


/* Scrollbox styles, for use within Morebits.simpleWindow */

div.morebits-scrollbox
{
	background: white;
	border: 1px solid gray;
	margin-bottom: .6em;
	margin-top: .6em;
	max-height: 20em;
	overflow: auto;
	padding: 6px 6px 0;
}

div.morebits-scrollbox > h5:first-child
{
	border: none;
	margin-top: 0;
	padding-top: 0;
}

div.morebits-scrollbox > :last-child
{
	margin-bottom: 6px;
}


/* Previewbox */

div.morebits-previewbox
{
	background: white;
	color: black;
	border: 2px inset;
	margin: .4em auto .2em;
	padding: .2em .4em;
}

div.morebits-previewbox *:not(img)
{
	vertical-align: baseline;
}

div.morebits-previewbox .mw-editsection
{
	display: none;
}




/* Portlet */

.skin-modern #mw_contentwrapper div.portlet {
	overflow: hidden;
	height: 1.5em;
	margin: 0 0 0 14em;
	padding: 0;
}

.skin-modern #mw_contentwrapper div.portlet h5 {
	display: none;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody {
	margin: 0;
	padding: 0;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul {
	display: inline;
	margin: 0;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul li {
	display: block;
	float: left;
	height: 1.5em;
	margin: 0 .5em;
	padding: 0 .2em;
	text-transform: lowercase;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul li a {
	text-decoration: underline;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul li.selected a {
	text-decoration: none;
}


/* Morebits.simpleWindow */

.morebits-dialog {
	border: 1px #666 solid;
	font: small sans-serif;
	background-color: #F0F8FF !important;
	background-image: none !important;
}

body.skin-monobook .morebits-dialog {
	font-size: 125%;
}

body .ui-dialog.morebits-dialog .ui-dialog-titlebar {
	height: 1em;
	background: repeat-x 50% 80% #cfd6e1 !important;  /* the actual image is specified in morebits.js - ResourceLoader mangles data: URIs in CSS */
	font: bold 1em sans-serif;
	overflow: hidden;
	padding: .4em .3em .5em !important;
	white-space: nowrap;
}

body.skin-monobook .morebits-dialog .ui-dialog-titlebar {
	line-height: 1em;
}

.morebits-dialog-scriptname {
	font-weight: normal;
}

.ui-dialog.morebits-dialog .ui-dialog-titlebar-close {
	height: 100%;
	right: 0;
	top: auto;
	width: 2em;
	margin: -.5em -.15em 0;
}

.ui-dialog.morebits-dialog .ui-dialog-titlebar-close span {
	margin: .33em;
}

.ui-dialog.morebits-dialog .morebits-dialog-content {
	font-size: 88%;  /* this just seems to be traditional - I don't quite see the point, in this day and age of huge monitors, etc. */
	padding: 0;
}

body .ui-dialog.morebits-dialog .ui-dialog-buttonpane {
	background-color: #BCCADF;
	margin: 0;
	min-height: .5em;
	padding-left: 1.2em !important;
}

body .ui-dialog.morebits-dialog .ui-dialog-buttonpane button {
	float: none;
	margin: .2em 0 -.1em;
	cursor: auto;
}

.morebits-dialog-footerlinks {
	font-size: 90%;
	float: right;
	margin: .7em .4em 0 0;
}

body .ui-dialog.morebits-dialog .morebits-dialog-footerlinks a {
	color: #3062AD;
}

.morebits-dialog-buttons[data-empty] + .morebits-dialog-footerlinks {
	margin: .1em .4em -.2em 0;
}

.ui-dialog.morebits-dialog a, .ui-dialog.morebits-dialog .ui-widget-content a {
	color: #0645AD;  /* jQuery imposes a ridiculous nearly-black colour on <a> tags... I don't understand it */
}

.ui-icon {
	vertical-align: -3px;
}

.ui-icon-inline {
	display: inline-block;
}