/* For positioning icons at top-right, used in Templates
   "Spoken Article" and "Featured Article" */
div.topicon {
    position: absolute; 
    z-index: 10; 
    top: 10px;
    display: block !important;
}