/* CSS placed here will affect users with JavaScript disabled */

.noscript-hide { display: none; }
.noscript-display-inherit { display: inherit; }
.noscript-display-block { display: block; }
.noscript-display-inline { display: inline; }