/**
 * Logo badge
 * Source: https://test.wikipedia.org/wiki/MediaWiki:Vector.css
 */
#p-logo {
  position: relative;
}
#p-logo::before {
  content: "TESTSITE";
  letter-spacing: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  background: #C6FFE0;
  color: #333;
  font: bold 17px/1 sans-serif;
  opacity: 0.9;
  border: 3px solid #007092;
  border-radius: 2em;
  text-align: center;
  padding: 0.5em 1em;
  box-sizing: border-box;
  width: 100%;
  transform: rotate(-10deg);
  pointer-events: none;
  transition: transform 0.2s ease-out; /* transition out */
}
#p-logo:hover::before {
  transition: transform 0.5s ease; /* transition in */
  transform: rotate(0deg);
}

/**
 * Test header stack
 */
/* Header fonts */
.mw-body #firstHeading,
.mw-body h1,
.mw-body h2 {
    font-family: "Linux Libertine", "Times New Roman", Times, serif;
}
.mw-body h1 {
    font-size: 2em;
}
.mw-body h2 {
    font-size: 1.7em;
}

/**
 * Below copied from en.wikipedia.org */
 */

/* Don't display some stuff on the main page */
.page-Main_Page #deleteconfirm,
.page-Main_Page #t-cite,
.page-Main_Page #footer-info-lastmod,
.action-view.page-Main_Page #siteSub,
.action-view.page-Main_Page #contentSub,
.action-view.page-Main_Page .firstHeading {
    display: none !important;
}

/* Position coordinates */
#coordinates {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    font-size: 85%;
    text-transform: none;
    white-space: nowrap;
}

/* FR topicon position */
div.flaggedrevs_short {
    position: absolute;
    top: -3em;
    right: 100px;
    z-index: 1;
}

/* Menu over FR box */
div.vectorMenu div {
    z-index: 2;
}

/* Display "From Wikipedia, the free encyclopedia" */
#siteSub {
    display: block;
    font-size: 92%;
}

/* Move page status indicators down slightly */
.mw-body .mw-indicators {
    padding-top: 0.4em;
}

/* Make the search field smaller on small screens, but larger if there is space. */
div#simpleSearch {
	width: 20vw;
	min-width: 5em;
	max-width: 20em;
}



/** Needed for [[User:Krinkle/Test suite for mw-collapsible]] **/
#collapse-pre-one  .mw-collapsible-toggle .up,
#collapse-pre-one.mw-collapsed .mw-collapsible-toggle .down {
 display: none;
}
#collapse-pre-one .mw-collapsible-toggle .down,
#collapse-pre-one.mw-collapsed  .mw-collapsible-toggle .up {
 display: block;
}