#pt-numconvert {
	padding-left: 30px;
	background-image: url(//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Numeral_converter_icon_1.svg/25px-Numeral_converter_icon_1.svg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.skin-monobook .mw-numerakri-menu {
	display: inline-block;
	vertical-align: top;
}

.skin-modern .mw-numerakri-menu {
	display: inline-block;
}

.skin-modern #pt-numconvert {
	padding-left: 50px;
	background-image: url(//upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Numeral_converter_icon_1_white.svg/40px-Numeral_converter_icon_1_white.svg.png);
	background-position: 10px 50%;
}

/* Need the extra ".portlet" to override the "#quickbar .portlet li" selector
   of the skin which is setting padding: 0 */
.skin-cologneblue .portlet #pt-numconvert {
	padding-right: 30px;
	background-position: 100% 0;
}