/* Different colors for links to other projects */
 
#bodyContent a.extiw[href*="meta.wikimedia.org/w"] {
    border-bottom: 1px dotted #999;
	color: black;
}
 
#bodyContent a.extiw[href*="commons.wikimedia.org/w"] {
    color: #800000;
}
 
#bodyContent a.extiw[href*=".wikipedia.org/w"] {
	color: green;
}
 
#bodyContent a.extiw[href*=".wiktionary.org/w"] {
	color: #9400D3;
}
 
#bodyContent a.extiw[href*=".wikiquote.org/w"] {
	color: #FF00FF;
}
 
#bodyContent a.extiw[href*=".wikisource.org/w"] {
	color: #00008B;
}
 
#bodyContent a.extiw[href*=".wikinews.org/w"] {
	color: #8B0000;
}
 
#bodyContent a.extiw[href*=".wikiversity.org/w"] {
	color: #FF8C00;
}
 
#bodyContent a.extiw[href*="species.wikimedia.org/w"] {
    color: #F08080;
}
 
#bodyContent a.extiw[href*="incubator.wikimedia.org/w"] {
    color: red;
}
 
#bodyContent a.extiw[href*="wikibooks.org/w"] {
    color: orange;
}

#bodyContent a.extiw[href*=".wikivoyage.org/w"] {
    color: #BDB76B;
}

#bodyContent a.extiw[href*="www.wikidata.org/w"] {
    color: #00CED1;
}