/**
 * This is loaded as a hidden peer gadget of UTCLiveClock.
 * Before UTCLiveClock has loaded, it adds space where the clock would go,
 * so that the personal toolbar does not "jump".
 */
 
/*
 * In Vector, by default the li elements in the p-personal bar have a font-size
 * of 0.75em. Duplicate that here so that we can be sure of the proper factor to
 * multiply the ul element's margin-right by. And just in case, override any
 * possible changes to the font size in Monobook too, although by default there
 * is no change in font size between the ul and li elements.
 */
.client-js > body.skin-vector #p-personal li {
	font-size: 0.75em;
}

.client-js > body.skin-monobook #p-personal li {
	font-size: 1em;
}

/*
 * Reserve space for the clock gadget after the end of the p-personal ul
 * element.
 */
.client-js > body.skin-vector #p-personal ul {
	/*
	 * The clock width plus its left margin, multiplied by the relative font
	 * size: (6em + 0.75em) * 0.75
	 */
	margin-right: 5.0625em;
}

.client-js > body.skin-monobook #p-personal ul {
	/*
	 * Clock width: 6.279em
	 * Left margin: 1em
	 * Space separator after "log out" link: 0.321em (found through trial and
	 * error)
	 * Total space: 6.279em + 1em + 0.321em
	 */
	margin-right: 7.6em;
}