/* BACKGROUND COLORS FOR CONTENT ACTIONS */
 
/* NS Special (light grey) */
.ns--2 #p-cactions li, .ns--2 #p-cactions li a { background: #f4f4f4; }

/* NS Project + Project_talk (light sky blue) */
.ns-4 #p-cactions li, .ns-4 #p-cactions li a { background: #f8fcff; }
.ns-5 #p-cactions li, .ns-5 #p-cactions li a { background: #f8fcff; }

/* NS MediaWiki + MediaWiki_talk (light grey) */
.ns-8 #p-cactions li, .ns-8 #p-cactions li a { background: #f4f4f4; }
.ns-9 #p-cactions li, .ns-9 #p-cactions li a { background: #f4f4f4; }

/* NS Manual + Manual_talk (light bluish violet) */
.ns-100 #p-cactions li, .ns-100 #p-cactions li a { background: #f3f3ff; }
.ns-101 #p-cactions li, .ns-101 #p-cactions li a { background: #f3f3ff; }