/* Force lining numbers in headers (for fonts like Georgia) */
h1,
h2,
.firstHeading {
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

/* Consistent size for sub/sup */
.mw-body sub,
.mw-body sup,
span.reference /* for Parsoid */ {
    font-size: 80%;
}